body{
    background-color: #E8D1FF;
}

table{
    display: inline-block;
    margin: auto;
    margin-left: 10%;
    width: 300px;
    height: 200px;
    /* border: black solid; */
    padding: 10px;
}


td{
    background-color: #FFEBD1;
    border: black solid;
    color: black;
    padding: 20px;
}

th{
    background-color: #FCAC23;
    border: black solid;
    color: black;
    padding: 20px;
}

.formula::before{
    color: black;
    font-size: 30px;
    content: '(2 * 5) < 8 OR ((4 * 6) > (2 * 5) )';
}
.formula::after{
    color: red;
    display: flex;
    content: 'False (10) < 8 or Verdadero: (26) > (10)';
    opacity: 0;
    transition: all 0.5s;
}
.formula:hover::after{
    font-size: 20px;
    opacity: 1;
}

.formula2::before{
    color: black;
    font-size: 30px;
    content: '(4+ 5) < 3 AND ( ( 5 * 5 ) + (4 + 25 < 3) )';
}
.formula2::after{
    color: red;
    display: flex;
    content: 'False: (9) < 3 and Falso: (25) + (29) < 3';
    opacity: 0;
    transition: all 0.5s;
}
.formula2:hover::after{
    font-size: 20px;
    opacity: 1;
}